{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h3>About us</h3>

            <p>We're a user group for PHP developers living in, around and within travelling distance of Rotterdam.
                While
                existing for more then a year, we were able to create a user group with over a 200 members, and we're
                still
                growing!</p>

            <p>
                Thanks to our sponsors and contributors we are able to have our meetups every second thursday of the
                month.
                Feel free to attend our meetups, or even come as a speaker. We're also looking for sponsors!</p>
        </div>
        <div class="col-md-4">
            <h3>Our Meetups</h3>

            <p>Whether you are a young padawan looking to learn about the force, or a almost, but not yet, retired Jedi:
                010PHP
                is open for everybody!</p>

            <p>We like to be a user group where people of all age come together and share their common interest:
                PHP!*</p>

            <small>* We also encourage other development languages, but just think that PHP is cool. It's also part of
                our
                name and
                such...
            </small>
        </div>
        <div class="col-md-4">
            <h3>Our Sponsors</h3>

            <p>010PHP is made possible by the help of our awesome community and sponsors. Volunteers who make effort and
                time to organize meetups, prepare and present talks, or just sponsor in some way are the heroes who make
                our
                meetups happen.</p>

            <p>Don't forget to check out our sponsor page and thank our heroes for helping building our awesome
                community!</p>


        </div>
    </div>

{% endblock %}