@import "font-awesome";
@import "bootstrap";
@import "bootstrap-select";
@import "010php-font";
@import "010php-bootstrap-variables";

.logo {
  height: 30px;
  padding-top: 5px;
}

.green-banner {
  text-align: center;
  background: #008000;
  -webkit-border-radius: 4px 4px 0 0;/*Safari, Chrome*/
  -moz-border-radius: 4px 4px 0 0;/*Firefox*/
  border-radius: 4px 4px 0 0;
  h1 {
    color: white;
  }
}

.orange-banner {
  text-align: center;
  background: url('http://010php.nl/images/shadow.png') no-repeat #F15A29;
  background-size: 100% 20px;
  -webkit-border-radius: 0 0 4px 4px;/*Safari, Chrome*/
  -moz-border-radius: 0 0 4px 4px;/*Firefox*/
  border-radius: 0 0 4px 4px;
  h2 {
    color: white;
  }
}

.text-shadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000)";
  text-shadow: 1px 1px 1px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000);
}