@import "font-awesome";
@import "bootstrap";
@import "bootstrap-select";
@import "010php-font";
@import "010php-bootstrap-variables";

@baseColor: #008000;

.logo {
  height: 30px;
  padding-top: 5px;
}

.text-shadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000)";
  text-shadow: 1px 1px 1px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000);
}