parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt

    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    twitter_consumer_key: "OTAyYTA2NGM2YjAyMDljZmJlMDcxMmE4"
    twitter_consumer_secret: "ZmU2ODU2ODYyOWRiMTM5ZmRjOTBiMGE3"
    twitter_access_token: "ODY4YjM4NmZhZWE1MTFkMDE2ODc4MzM0"
    twitter_access_token_secret: "OTlmNzFhNjA0MTBhMWViZWQ3ODgwYzRk"

    meetup:
        key: "ZTcxZDBkNDFiZjY5NWI4ZmRkMTg5Yjg2"