<nav class="navbar navbar-default navbar-xs">
    <div class="container">
        <ul class="nav navbar-nav navbar-right text-shadow">
            <li><a href="#"><span class="fa fa-home"></span> FAQ</a></li>
            <li><a href="#"><span class="fa fa-calendar"></span> Meetup.com</a></li>
            <li><a href="#"><span class="fa fa-github"></span> Github.com</a></li>
            <li><a href="#"><span class="fa fa-envelope"></span> Contact</a></li>
        </ul>
    </div>
</nav>