<ul class="timeline">
    <a class="twitter-timeline" data-lang="en" data-dnt="true" href="https://twitter.com/010php" data-tweet-limit="5">
        Tweets by 010php
    </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</ul>